tr td:nth-child(1) {
    text-align: right;
}

tr td:nth-child(2) {
    text-align: left;
}

table {
    left: 48%;
    position: absolute;
    /*transform: translateX(-20%) translateY(-15%);*/
}

td {
    flex-wrap: wrap;
    word-break: break-all;
    word-wrap: break-word;
}

td img:not(.col1) {
    transform: translateY(2px);
}

h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    overflow-x: hidden;
}