body {
    background-color: #333333;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    text-align: center;
}
a {
    color: #FF9933;
}
ul {
    list-style: none inside none;
    padding-left: 0;
}