#overlay {
    background-color: #333333;
    border: 2px #101010 solid;
    /*border-image-slice: 1;
    border-image-source: linear-gradient(to left, #202020, #696969);*/
    border-radius: 2px;
    height: 40%;
    left: 30%;
    margin: 0;
    opacity: 1;
    overflow-y: hidden;
    padding: 20px 10px 10px;
    position: fixed;
    text-align: center;
    top: 25%;
    width: 40%;
    z-index: 69;
}

#overlay img {
    position: absolute;
    bottom: 15%;
}

#overlayClose {
    opacity: .4;
    right: 10px;
    top: 10px;
    transition: .4s;
    width: 5%;
}

#overlayConfirm {
    left: 20%;
    opacity: .4;
    transition: .4s;
    width: 15%;
}

#overlayDeny {
    opacity: .4;
    right: 20%;
    transition: .4s;
    width: 15%;
}

#overlayClose:hover, #overlayConfirm:hover, #overlayDeny:hover {
    opacity: 1;
}